<div class="passwordForm">
  <h4 id="h4"> {{ 'resetPassword.title' | translate }}</h4>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
    novalidate
  >
    <div>
      <mat-form-field class="input" appearance="fill" color="accent">
        <mat-label>{{ 'resetPassword.newPassword' | translate }}</mat-label>
        <input matInput formControlName="newPassword"  [type]="hidePw ? 'password' : 'text'" />
        <mat-icon matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="
        resetPasswordForm.controls.newPassword.touched &&
        resetPasswordForm.controls.newPassword.errors?.required
        "
      >
      {{ 'resetPassword.passwordAlert' | translate }}
      </mat-error>
      <mat-error
        *ngIf="resetPasswordForm.controls.newPassword.errors?.pattern"
      >
      {{ 'resetPassword.regexPassword' | translate }}
      </mat-error>
    </div>
    <div>
      <mat-form-field class="input" appearance="fill" color="accent">
        <mat-label >{{ 'resetPassword.confirmPassword' | translate }}</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="hidePw2 ? 'password' : 'text'"
          color="accent"
        />
        <mat-icon matSuffix (click)="hidePw2 = !hidePw2">{{hidePw2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="
        resetPasswordForm.controls.confirmPassword.touched &&
        resetPasswordForm.controls.confirmPassword.errors?.required
        "
      >
      {{ 'resetPassword.confirmAlert' | translate }}
      </mat-error>
      <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
        {{ 'resetPassword.passNotSame' | translate }}
      </mat-error>
    </div>

    <div class="buttons">
      <button (click)="cancel()" mat-raised-button color="primary">{{ 'resetPassword.cancel' | translate }}</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!resetPasswordForm.valid"
      >
      {{ 'resetPassword.save' | translate }}
      </button>
    </div>
  </form>
</div>
